.idea
.DS_Store
node_modules/*

*/data/raw-county/*
*/data/raw-state/*
*/data/states/*
*/data/states_finished/*

*/data/state_data/all/*
*/data/state_data/drought/*
*/data/state_data/precip/*
*/data/state_data/temp/*

*/data/az_month/*
*/data/ca_month/*
*/data/co_month/*
*/data/id_month/*
*/data/lc_az/*
*/data/lc_az_month/*
*/data/lc_month/*
*/data/nm_month/*
*/data/nv_month/*
*/data/or_month/*
*/data/pn/*
*/data/pn_month/*
*/data/raw_data/*
*/data/states_all/*
*/data/tx/*
*/data/tx_m/*
*/data/uc/*
*/data/uc_daily/*
*/data/uc_mf/*
*/data/usda_month/*
*/data/usgs_az_month/*
*/data/utah_month/*
*/data/wa_month/*
*/data/wy_month/*

*/data/final_data/*
*/data/processed_data/*
*/data/raw_data/*
*/data/web_files/*